@media screen and (min-width: 768px) {
    .login {
        width: 500px;
        height: 350px;
    }
    .dados {
        width: 70%;
        float: right;
    }
    .imagem {
        width: 30%;
        float: left;

        height: 100%;
        background-position: bottom left;
    }
}

@media screen and (min-width: 992px) {
    .login{
        width: 700px;
        height: 500px;
    }
    .dados {
        width: 50%;
        float: left;
    }
    .imagem {
        width: 50%;
        height: 100%;
        float: right;
    }
}