@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    background-image: linear-gradient(to bottom, purple, rgb(194, 4, 194));
}

.principal {
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    width: 75vw;
    height: 80vh;
    border-radius: 20px;
    background-color: white;
}


.principal-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2em;
}

.principal-texto {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 10px
}
